<%- include partials/header.ejs %>
<%- include partials/nav_bar.ejs %>

<!-- Content -->
  <body>  
<main class="container">
  <div class="Jumbotron">
    <h1 class="4isplay-4">Welcome to the <%= title %> page</h1>
    <br>
    <p class="font-weight-normal">
        My Name is Guillermo Arturo Daniel Garcia Romero.
        <br>
        I am an iOS Developer with four years of experience. I code using Swift and Obj-C. Currently,
        I work as an iOS Developer for Uber to maintain and create new features for the Uber Freight app.
        I work with Rest web services, unit testing, snapshot test, service-driven UI, and creating reusable UI Components.
    </p>
    <img src="/images/my_photo.png" class="rounded mx-auto d-block" height="300">
    <a href="/files/Guillermo Garcia Resume.pdf" class="btn btn-primary btn-sm" role="button">My resume</a>
  </div>
</main>
  </body>

<%- include partials/footer.ejs %>
