
<%- include partials/header.ejs %>

<%- include partials/nav_bar.ejs %>

<!-- Content -->
  <body>  
<main class="container">
  <div class="Jumbotron">
    <h1 class="4isplay-4">Welcome to my Website</h1>
    <a href="/about">About Me</a>
  </div>
</main>
  </body>

<%- include partials/footer.ejs %>