<!DOCTYPE html>
<html>
<%- include partials/header.ejs %>

<%- include partials/nav_bar.ejs %>

  <body>  
<!-- Content -->

<main class="container">
  <div class="Jumbotron">
    <h1 class="4isplay-4">Welcome to the <%= title %> page</h1>
  </div>
  <p><%= content %></p>
</main>


    <script src="/bootstrap/dist/js/bootstrap.min.js"> </script>
    <script src="/jquery/dist/jquery.min.js"> </script>
  </body>
</html>
