
<%- include partials/header.ejs %>

<%- include partials/nav_bar.ejs %>

<!-- Content -->
<body>  
    <main class="container">
        <div class="Jumbotron">
            <h1 class="4isplay-4">Welcome to the <%= title %> page</h1>
            <br>
            <div>
                <a href="https://apps.apple.com/us/app/disney-cruise-line-navigator/id671153791">
                    <h3> Disney Cruise Line Navigator </h3>
                </a>
                <p class="font-weight-normal"> 
                    Worked as an iOS developer for Disney to maintain and create new features for their app
                     “Disney Cruise Line Navigator”. I worked with Rest web services, core data, unit testing,
                      code refactoring, service-driven UI, migrating Obj-c classes to Swift, and deep links.
                </p>
                <img src="/images/DCL Nav.png" class="rounded mx-auto d-block" height="300">
            </div>
            
            <div>
                <a href="https://apps.apple.com/us/app/uber-freight/id1183931851">
                    <h3> Uber Freight </h3>
                </a>
                <p class="font-weight-normal"> 
                    Work as an iOS Developer for Uber Freight to maintain and create new features
                     for their app “Uber Freight”. I work with Rest web services, unit testing, snapshot
                      test, service-driven UI and creating reusable UI Components.
                </p>
                <img src="/images/Uber Freight.png" class="rounded mx-auto d-block" height="300">
            </div>
            
           <div>
            <a href="https://apps.apple.com/us/app/national-geographic/id418671597">
                <h3> National Geographic </h3>
            </a>
                <p class="font-weight-normal"> 
                    Worked as an iOS developer for National Geographic to maintain and create new
                    features for their app “Nat Geo Latinoamérica“. I worked with Rest web services, core data, creation of
                    a mini player, push notifications, analytics, universal links, sharing.
                </p>
                <img src="/images/Nat geo.png" class="rounded mx-auto d-block" height="300">
           </div>
        </div>
    </main>
</body>

<%- include partials/footer.ejs %>