<%- include partials/header.ejs %>

<%- include partials/nav_bar.ejs %>

<!-- Content -->
  <body>  
<main class="container">
  <div class="Jumbotron">
    <h1 class="4isplay-4">Welcome to the <%= title %> page</h1>
    
    <h3 class="4isplay-4">General Programming</h3>
    <h5 class="4isplay-4">Programming languages used</h3>

    <ul>
        <li>Java</li>
        <li>C</li>
        <li>C#</li>
        <li>Swift</li>
        <li>Obj C</li>
    </ul>
    <br>
    <h3 class="4isplay-4">Mobile Development</h3>
    <h5 class="4isplay-4">Platform</h3>

    <ul>
        <li>iOS</li>
    </ul>

  </div>
</main>
  </body>

<%- include partials/footer.ejs %>